
    body {
      background-color: #272727;
    }

    hr {

      border-style: none;
      border-top-style: dotted;
      border-color: #d4aa7d;
      width:100%;
    }
    h1 {
  color:#efd09e;

}
h3 {
  color: #38331c;

}
