
    body {
      background-color: #206a5d;
    }

    hr {

      border-style: none;
      border-top-style: dotted;
      border-color: grey;
      width:100%;
    }
    h1 {
  color:#ffcc29;

}
h3 {
  color: #81b214;

}
