
    body {
      background:
      linear-gradient(217deg, rgba(147,158,157,0.8), rgba(0,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(158,151,147,0.8), rgba(0,0,0,0) 70.71%),
      linear-gradient(336deg, rgba(147,148,158,0.8), rgba(0,0,0,0) 70.71%);;
    }

    hr {

      border-style: none;
      border-top-style: dotted;
      border-color: #9c939e;
      width:100%;
    }
    h1 {
  color:#949e93;

}
h3 {
  color: #939a9e;

}
